@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
    src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
    src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
    src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

button{
    background: inherit;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer}

/**/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container *{
    box-sizing: border-box;
}

.wrap-session{
    border: 2px solid #3C54D2;
    width: 600px;
    padding: 60px 60px;
}

@media(max-width:1500px){
    .container{
        transform: scale(90%);
    }
}

.wrap-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #3C54D2;
    padding-bottom: 20px;
}

.title-session{
    color: #3C54D2;
    font-family: 'Noto Sans KR';
    font-size: 32px;
    font-weight: 500;
    padding-left: 4px;
}

.date-session{
    font-size: 16px;
    font-family: 'Noto Sans KR';
    color: #333;
    padding-right: 4px;
}

.write-todolist{
    border: 1px solid #ddd;
    width: 90%;
    padding: 8px 8px 8px 12px;
    font-size: 16px;
}

.write-todolist:focus{
    outline: none;
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0px 8px;
}

.btn-send{
    font-size: 24px;
    color: #3C54D2;
}

.list-todos{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

li[class^=item-todo]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 18px;
    margin-bottom: 18px;
    padding-left: 4px;
    padding-right: 4px;
}

.item-todo:last-child{
    border-bottom: none;
    padding-bottom: none;
    margin-bottom: none;
}

/* .checkbox{
    transform: scale(1.2);
} */

.item-todo p{
    font-size: 16px;
    color: #333;
    font-family: 'Noto Sans KR';
}

.btn-edit{
    font-size: 16px;
    color: #333;
}

.btn-delete{
    margin-left: 16px;
    font-size: 16px;
    color: #333;
}

.line{
    text-decoration: line-through;
}

input[class^=input-edit]:not(.edit input), .edit p{
    display: none;
}